@model Game
@{
    ViewData["Title"] = "Game Details";
}
				
@*<h3>Game Details for @Model.WordID</h3>*@
<div class="container">
    <div class="row" >
        <div class="col d-flex justify-content-between">
            <h4 class="pt-2">Game Details</h4>
        </div>
        <div class="col d-flex justify-content-end">
            <div class="mx-2">
                <a href="/Game/UpdateGame/@Model.GameID" class="btn btn-info shadow-sm">Edit</a>
            </div>
            @using (Html.BeginForm("DeleteGame", "Game", "Post"))
             {
                 <input type="hidden" asp-for="GameID" value="@Model.GameID" />
                 <input class="btn btn-danger shadow-sm" type="submit" onclick="return confirm('Are you sure you want to delete this game?')" value="Delete" />
             }
        </div>
    </div>
</div>

<div class="container pt-3">

    <div class="row px-5">
        <div class="col d-flex justify-content-end">
            <h5>Answer:  </h5>
        </div>
        <div class="col">
            <h5>@Model.WordName</h5>
        </div>
    </div>

    <div class="row px-5">
        <div class="col d-flex justify-content-end">
            <h5>Outcome:  </h5>
        </div>
        <div class="col">
            @{string outcome = (@Model.WinLoss) ? "Win" : "Loss"; }
            <h5>@outcome</h5>
        </div>
    </div>

    <div class="row px-5">
        <div class="col d-flex justify-content-end">
            <h5>Game Date:  </h5>
        </div>
        <div class="col">
            <h5>@Model.Date.ToShortDateString()</h5>            
        </div>
    </div>

</div>